@keyframes rainbow{
    100%,0%{
        color: rgb(247, 101, 101);
    }
    8%{
        color: rgb(253, 175, 98);
    }
    16%{
        color: rgb(250, 250, 94);
    }
    25%{
        color: rgb(169, 255, 83);
    }
    33%{
        color: rgb(97, 255, 97);
    }
    41%{
        color: rgb(95, 253, 174);
    }
    50%{
        color: rgb(101, 255, 255);
    }
    58%{
        color: rgb(105, 179, 253);
    }
    66%{
        color: rgb(112, 112, 255);
    }
    75%{
        color: rgb(181, 111, 250);
    }
    83%{
        color: rgb(255, 96, 255);
    }
    91%{
        color: rgb(255, 132, 194);
    }
}

.rainbow {
    animation: rainbow 10s linear infinite alternate;
}
.body {
    font-family: var(--bodyfont);
    color: bisque;
    display: block;
    width: 350px;
    font-size: 40px; 
    margin-left: 30px;
}
.me {
    border-radius: 50%;
    border: 10px rgb(141, 115, 175) solid;
    transition: all 1s cubic-bezier(1,.1,.32,1.38);
}

.me:hover {
    border-radius: 10%;
}

.red {
    color:rgb(247, 101, 101);
}
.white {
    color: white;
}


.info-wrap {
    display: flex;
    justify-content: center;
    place-items: center;
    margin-bottom: 200px;
}



.grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 100px 400px;
    grid-column-gap: 10px;
    justify-items: center;
    place-items: center;
}

.body2 {
    font-family: var(--bodyfont);
    color: bisque;
    width: 350px;
    text-align:center;
    font-size: 20px; 
}

.self-img {
    border-radius: 10px;
}

.grid {
    display: flex;
    justify-content: center;
}

