@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


:root {
    --navbarfont: Lexend, sans-serif;
    --headerfont: Montesserat, sans-serif;
    --font: Raleway, sans-serif;
}


.navlinktext {
    text-decoration: none;
    display: block;
    color: white;
    transition: all 1s ease-in-out;
}

.navlinktext:hover {
    color: rgb(182, 116, 243);

}

a {
    text-decoration: none;
    color: transparent;
}

.navbar {
    list-style-type: none;
    justify-content: center;
    display: flex;
    background-color: rgb(43, 39, 39);
    position: relative;
    width: 100%;
    padding: 0; 
    margin-top: 0; 
    border-radius: 10px;
}

.navlink {
    font-family: var(--navbarfont);
    text-align: left;
    position: relative;
    display: inline;    
    padding: 20px 20px;
    border-radius: inherit;
    transition: all 1s ease-in-out;
}

.navlink:hover {transform: scale(125%);}

.header {
    text-align: center;
    font-family: var(--font);
    color: white;
    font-size: 50px;  
}