:root {
    --navbarfont: Lexend, sans-serif;
}


a {
    text-decoration: none;
    display: block;
    color: white;
    transition: all 1s ease-in-out;
}

.navbar {
    list-style-type: none;
    justify-content: center;
    display: flex;
    background-color: rgb(43, 39, 39);
    position: relative;
    width: 100%;
    padding: 0; 
    border-radius: 10px;
}

.navlink {
    font-family: var(--navbarfont);
    text-align: left;
    position: relative;
    display: inline;    
    padding: 20px 20px;
    border-radius: inherit;
    transition: all 1s ease-in-out;
}

.navlink:hover {
    transform: scale(125%);   
}

.navlinktext:hover {
    color: rgb(182, 116, 243);
}
