#nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	margin-left: calc(100vw - 90px);
	right: 100px !important;
	height: 100vh;
	transition: all 1s ease-in-out;
	width: 90px;
	z-index: 1;
}

#nav[data-v-4fbac4e1]>.wrap {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
	margin-top: 25vh;
	transform: translate()
}

#nav>.wrap>.search {
	right: 3px;
	position: fixed;
	top: 60px;
	transform: translate(-50%, 0);
}

#nav>.wrap>.links {
	display: flex;
	text-align: center;
	flex-direction: column;
}

#nav>.wrap>.links>.link,
#nav>.wrap>.links>.browse-wrap {
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 1.1rem;
}

.browse-wrap>.dropdown {
	z-index: 999;
	margin-left: -280px;
	margin-top: -30px;
}

.browse-wrap>.dropdown:before {
	content: none !important;
}

#nav>.wrap>.user>.user-wrap>.dropdown {
	margin-right: calc(200px - 90px + 37px);
	margin-top: -50px;
}

.user-wrap >.dropdown:before {
	content: none !important;
}

#nav>.wrap>.user {
	z-index: 998;
	position: fixed;
	top: 0;
}

.avatar:not(.banner-content >.avatar) {
	border: 3px black solid;
	border-radius: 50% !important;
}

.chevron {
	display: none;
}

.logo {
	position: fixed;
	bottom: 0;
	content: var(--nav-custom-logo-dark);
	transform: scale(70%);
	height: 70px !important;
	border-radius: 50%;
}

.hohDownload {
	display: none;
}

.banner {
	display: flex;
	margin-top: 20px;
	margin-left: 50%;
	transform: translate(-53%, 0);
	border: 10px var(--mango-dark);
	border-style: solid solid none solid;
	background-size: cover;
	width: 1500px;
	align-items: center;
}

.nav-wrap {
	max-width: 1500px;
	border: 10px var;
	border-style: none solid solid solid;
	margin-left: 50%;
	transform: translate(-53%);
}
.content.container:nth-child(2) {
	margin-left: 50%;
	transform: translate(-53%);
}

.wrap[data-v-a5dce466] >.footer {
  margin-left: 50%;
  margin-top: 0;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--background-color);
  width: 82%;
  transform: translateX(-53%);
}
