@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

 @keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(243, 86, 86);
    }
    8%{
        background-color: rgb(255, 172, 89);
    }
    16%{
        background-color: rgb(248, 248, 88);
    }
    25%{
        background-color: rgb(171, 247, 96);
    }
    33%{
        background-color: rgb(104, 253, 104);
    }
    41%{
        background-color: rgb(104, 255, 180);
    }
    50%{
        background-color: rgb(109, 255, 255);
    }
    58%{
        background-color: rgb(97, 176, 255);
    }
    66%{
        background-color: rgb(102, 102, 255);
    }
    75%{
        background-color: rgb(182, 118, 247);
    }
    83%{
        background-color: rgb(250, 109, 250);
    }
    91%{
        background-color: rgb(255, 117, 186)a;
    }
}
/*
:root {
    --scrollbar-width: 10px;
    --scrollbar-spacing: 3px;
}
body {
    background: rgb(53, 51, 51);
    font-family: Poppins;
    overflow-x: show;
    
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background:rgb(27, 25, 25);
}

::-webkit-scrollbar-thumb {
    background: rgb(95, 87, 87);
    border-radius: 10px;
}
input {
    background: purple;
    border: none;
    color: white;
    font-size: larger;
    margin: 0 10px;
    max-height: 2.5rem;
    width: 100px;
    border-radius: 1rem;
}

input[type='text'] {
    background: rgb(168, 168, 219);
    width: initial;
}

h2 {
    margin-top: -1px;
}

form {
    margin-bottom: 20px;
    display: flex;
    
}

#output0, #output1, #output2, #output3, #output4 {
    background:rgb(34, 30, 30);
    display: inline;
    color: white;
    display: inline-block;
    width: 400px;
    height: 2rem;
    
}

.submit {
    margin-top: -20px;
    height: 30px;
}
.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.values {
    background: rgb(34, 30, 30);
    width: calc(100vw - (var(--scrollbar-width) + var(--scrollbar-spacing)));
    height: 400px;
    margin-top: -20px;
    white-space: pre-wrap;
    color: white;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    text-align: center;
    left: 0;
    
}


#calculate {
    margin-left: 50%;
    transform: translate(-50%);
    padding: 0.7rem 1rem;
    background: red;
    margin-bottom: 3rem;
    border: none;
    border-radius: 10px;
    animation-name: rainbow-bg;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 1s ease;
}


#calculate:hover {
    transform: scale(1.2);
    margin-left: 45%;
    color: white;
    cursor: pointer;
    box-shadow: 5px 10px rgb(241, 233, 233);
}

#clear0, #clear1, #clear2, #clear3, #clear {
    visibility: show;
} */


:root {
    --scrollbar-width: 1rem;
    --scrollbar-spacing: 0.2rem;
}
body {
    background-color: hsl(0, 0%, 29%);
    font-family: Poppins;
    overflow-x: hidden;
}

.output {
    color: white;
    background-color: rgb(126, 125, 125);
    width: 25em;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    
}

::-webkit-scrollbar-track {
    background:rgb(27, 25, 25);
}

::-webkit-scrollbar-thumb {
    background: rgb(95, 87, 87);
    border-radius: 10px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    margin-right: 1rem;
}

input[type='text'] {
    height: 1rem;
}
form {
    display: flex;
    margin: 0.5rem;
}

#calculate {
    margin-left: 50%;
    transform: translate(-50%);
    border: none;
    display: inline-block;
    height: 2rem;
    border-radius: 10px;
    animation: rainbow;
    animation-name: rainbow-bg;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 1s ease;
}


#calculate:hover {
    transform: scale(1.2);
    margin-left: 45%;
    margin-right: 60px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 10px rgb(241, 233, 233);
}



.values {
    white-space: pre-wrap;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    color: beige;
}

a {
    text-decoration: none;
    background-color: antiquewhite;
    display: inline-block;
    padding: 0.2rem;
    border-radius: 10px;
    color: initial;
    transition: all 0.4s ease-in-out;

}

a:hover {
    transform: scale(125%);
    background-color: rgb(72, 67, 67);
    color: beige
}
@media only screen and (max-width: 768px) {
    
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    ::-webkit-scrollbar-track {
        background:rgb(27, 25, 25);
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(95, 87, 87);
        border-radius: 10px;
}
    form {
        display: grid;
        
    }

    .output {
        max-width: 370px;
        justify-content: center;
        margin-left: 50%;
        transform: translate(-50%);
        
    }

    input {
        background-color: beige;
        margin-bottom: 4px;
        border-radius: 5px;
    }
}